@import url('https://fonts.googleapis.com/css?family=Raleway');

.border-info {
    flex: 1 1 0;
    margin: 10px;
}

html, body, h1, h2, h3, h4, h5, h6, a, p, label, button {
    font-family: "Raleway";
}

body {
    padding: 70px 15px;
}

html, body {
    background-color: whitesmoke;
}

.header {
    font-weight: bold;
    font-size: larger;
}

.subtext {
    font-size: smaller;
    color: lightslategray;
}

.navbar { 
    background: rgb(156, 210, 228);
}

.navbar-brand, h3 {
    color: white;
    padding: 0px;
}

.activityBox {
    position: relative;
}

.viewLink {
    bottom: 0;
    position: absolute;
    background: lightgray;
    width: 100%;
}

.activityList {
    margin-top: 5%;
}

.btn {
    font-size: smaller;
}

p {
    margin: 0px;
    font-size: 20px;
}

label {
    margin: 7px;
}

select {
    margin-bottom: 10px;
}

#cityLabel {
    margin-right: 70px;
}

.navLink {
    color: white;
}

#stateHeader {
    margin: 10px 0px;
    font-size: 65px;
}