@import url('https://fonts.googleapis.com/css?family=Raleway');

.border-info {
    flex: 1 1 0;
    margin: 10px;
}

html, h1, h2, h3, h4, h5, h6, a, p {
    font-family: "Raleway";
}

body {
    padding: 70px 15px;
}

html, body {
    background-color: whitesmoke;
}

.header {
    font-weight: bold;
    font-size: larger;
}

.subtext {
    font-size: smaller;
    color: lightslategray;
}

.navbar { 
    background: rgb(156, 210, 228);
}

.navbar-brand, h3 {
    color: white;
    padding: 0px;
}

p {
    margin: 0px;
}

#stateHeader {
    margin: 10px 0px;
}